@{
    ViewData["Title"] = "Home Page";
}
<div>Test</div>

@section Scripts{
    <script type="text/javascript">
        //alert("hoş geldin laaaa)
            $(document).ready(function(){
                console.log("hoş geldin laa");
            })
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_MenuPartialView" />