@{
    ViewData["Title"] = "Example Controller Index Page";
    Layout = "ExampleLayout";
}
@section header{
    <div>after header this line will be added</div>
}
@section footer{
    <div>before footer this line will be added</div>
}


<div>Example Controller > Index Page</div>
